<header >
    <div class="row navbar navbar-expand-lg navbar-light bg-light">
        <ul class="list-group list-group-horizontal-lg m-l-2">
            <li class="nav-item col-sm-9 nombre">
                <a class="nav-link tittle" href="#">LEAGUE GUIDES</a>
            </li>
            <li class="nav-item col-1">
                <a class="nav-link champs" href="http://localhost:4200/champions">Champions</a>
            </li>
            <li class="nav-item">
                <input type="text" name="busqueda" placeholder="Search" autocomplete="off"/>
                <a  href=""><img src="assets/img/lupa.png"></a>
            </li>
        </ul>
    </div>
</header>
