<div class="guideContainer">
    <div class="banner">
        <img src="assets/img/AniviaBanner.png" alt="">
    </div>
    <section class="guideContent">
        <h4>{{name}} guide by: Eduard</h4>
        <h3>Ability order</h3>
        <div class="skillOrder">
            <span><img src="assets/icons/Anivia_Q.webp"></span>
            <span><img src="assets/icons/Anivia_W.webp"></span>
            <span><img src="assets/icons/Anivia_E.webp"></span>
            <span><img src="assets/icons/Anivia_R.webp"></span>
        </div>
         <div class="textSkillOrder d-flex">
            <p>Q</p>
            <p>W</p>
            <p>E</p>
            <p>R</p>
        </div> 
        <h2>Runes</h2>

        <h4 class="runesPrimary">Domination</h4>
        <div class="runes">
            <span><img class="primarySecondaryRunesImages"src="assets/runes/domination.webp"></span>
            <span><img class="electrocuteImage"src="assets/runes/electrocute.webp"></span>
            <span><img class="primarySecondaryRunesImages"src="assets/runes/cheap-shot.webp"></span>
            <span><img class="primarySecondaryRunesImages"src="assets/runes/eyeball-collection.webp"></span>
            <span><img class="primarySecondaryRunesImages"src="assets/runes/relentless-hunter.webp"></span>
        </div>
        <h4 class="runesSecondary">Precision</h4>
        <div class="runes">
            <span><img class="primarySecondaryRunesImages"src="assets/runes/precision.webp"></span>
            <span><img class="primarySecondaryRunesImages"src="assets/runes/presence-of-mind.webp"></span>
            <span><img class="primarySecondaryRunesImages"src="assets/runes/coup-de-grace.webp"></span>
        </div>

        <h4>Bonus</h4>
        <div class="runes">
            <span><img class="bonusRunes"src="assets/runes/diamond.webp"></span>
            <span><img class="bonusRunes"src="assets/runes/diamond.webp"></span>
            <span><img class="bonusRunes"src="assets/runes/shield.webp"></span>
        </div>
        <h4>Items</h4>
        <div class="itemOrder">
            <span><img class="itemsImages"src="assets/items/archangels-staff.webp"></span>
            <span><img class="itemsImages"src="assets/items/liandrys-anguish.webp"></span>
            <span><img class="itemsImages"src="assets/items/rabadons-deathcap.webp"></span>
        </div>
        <div class="itemOrder">
            <span><img class="itemsImages"src="assets/items/sorcerers-shoes.webp"></span>
            <span><img class="itemsImages"src="assets/items/void-staff.webp"></span>
            <span><img class="itemsImages"src="assets/items/zhonyas-hourglass.webp"></span>
        </div>
    </section >
    <button class="btn btn-success btn-tutorial"><a class="linkTutorial" href="https://www.youtube.com/watch?v=8Syose1O568&t=1s" target="_blank">Tutorial</a></button>
</div>